__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.db
*.sqlite3
.pytest_cache/
alembic/versions/
dist/
build/
*.egg-info/
.DS_Store
coverage/
htmlcov/
.coverage
.mypy_cache/
.ruff_cache/
*.log
.venv/
venv/
env/